@import "../common_style";

.event
{
    &-title,
    &-subtitle
    {
        margin-bottom: 20px;
    }

    &-tags
    {
        margin-bottom: 20px;
    }

    &-tag
    {
        margin-right: 5px;
    }

    &-image
    {
        max-width: 500px;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
}